body {
  margin: 0;
  position: relative;
}
    
canvas {
  display: block;  /* prevents scrollbar */
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}
    
.filterInput{
  position: absolute;
  top: 0.5rem;
  left: 26rem;
}

.filterText{
  position: absolute;
  top: 1rem;
  left: 20rem;
  margin: 0;
  padding: 0;
}

.backgroundColorInput{
  position: absolute;
  top: 2.5rem;
  left: 29rem;
}

.backgroundColorText{
  position: absolute;
  top: 3rem;
  left: 20rem;
  margin: 0;
  padding: 0;
}

.mixrange{
  position: absolute;
  top: 1rem;
  left: 40rem;
} 

.mixtext{
  position: absolute;
  top: 1rem;
  left: 34rem;
  margin: 0;
  padding: 0;
}

.loadButton1 {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
  position: absolute;
  top: 2rem;
  left: 3rem;
  background-color: black;
  overflow: hidden;
}

.labelUpload1 {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.loadButton2 {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
  position: absolute;
  top: 5rem;
  left: 3rem;
  background-color: black;
  overflow: hidden;
}

.labelUpload2 {
  cursor: pointer;
  position: absolute;
  top: 3rem;
  left: 1.5rem;
}

.dimensionInput {
  position: absolute;
  top: 1rem;
  left: 10rem;
  width: 50px;
}

.dimensionInput2 {
  position: absolute;
  top: 1rem;
  left: 14rem;  
  width: 50px;
}

.dimensionText {
  position: absolute;
  top: 2rem;
  left: 10rem;
}

