body {
  margin: 0;
}
    
canvas {
  display: block;  /* prevents scrollbar */
  width: 100vw;
  height: 100vh;
}
    
.rgbInput{
  position: absolute;
  top: 0px;
  left: 46rem;
}

.rgbText{
  position: absolute;
  top: 5px;
  left: 40rem;
  margin: 0;
  padding: 0;
}

.backgroundColor{
  position: absolute;
  top: 40px;
  left: 49rem;
}

.backgroundText{
  position: absolute;
  top: 40px;
  left: 40rem;
  margin: 0;
  padding: 0;
}